body{
margin:0;
padding:0;
font-family:Arial,sans-serif;
background:#f3f4f6;
}

.container{
width:90%;
max-width:700px;
margin:30px auto;
padding:20px;
background:white;
border-radius:15px;
box-shadow:0 0 10px gray;
}

.dark{
background:#222;
color:white;
}

input,select{
width:95%;
padding:10px;
margin:8px 0;
border-radius:8px;
border:1px solid #ccc;
}

button{
padding:10px;
margin:5px;
border:none;
border-radius:8px;
cursor:pointer;
}

.add-btn{
background:green;
color:white;
}

.edit-btn{
background:orange;
color:white;
}

.delete-btn{
background:red;
color:white;
}

li{
list-style:none;
padding:15px;
margin-top:10px;
border-radius:10px;
background:#f8f8f8;
}

.progress-container{
width:100%;
height:20px;
background:#ddd;
border-radius:10px;
overflow:hidden;
}

.progress-bar{
height:100%;
background:green;
transition:0.5s;
}